<!-- Validation failure messages -->
<% if @appointment.errors.any? %>
  <% @appointment.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit appointment #<%= @appointment.id %>
</h1>

<hr>

<!-- Form appointment start -->
<form action="/update_appointment/<%= @appointment.id %>" method="post">
<!-- Form appointment end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @appointment.user_id), :class => "form-control") %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for starts_at start -->
  <div class="form-group">
    <label for="starts_at">
      Starts at
    </label>

    <!-- Input for starts_at start -->
    <input type="text" id="starts_at" name="starts_at" class="form-control" value="<%= @appointment.starts_at %>">
    <!-- Input for starts_at end -->
  </div>
  <!-- Label and input for starts_at end -->

  <!-- Label and input for ends_at start -->
  <div class="form-group">
    <label for="ends_at">
      Ends at
    </label>

    <!-- Input for ends_at start -->
    <input type="text" id="ends_at" name="ends_at" class="form-control" value="<%= @appointment.ends_at %>">
    <!-- Input for ends_at end -->
  </div>
  <!-- Label and input for ends_at end -->

  <button class="btn btn-block btn-outline-secondary">
    Update appointment
  </button>
</form>

<hr>

<a href="/appointments">
  Go back
</a>
