<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All appointments
    </h1>

    <a href="/appointments/new" class="btn btn-block btn-outline-secondary">
      Add a new appointment
    </a>
  </div>
</div>

<!-- Ransack Code start -->

<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Starts at
        </th>

        <th>
          Ends at
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @appointments.each do |appointment| %>
      <tr>
        <!-- Display appointment.id start -->
        <td>
          <%= appointment.id %>
        </td>
        <!-- Display appointment.id end -->

        <!-- Display appointment.user_id start -->
        <td>
          <%= appointment.user.email %>
        </td>
        <!-- Display appointment.user_id end -->

        <!-- Display appointment.starts_at start -->
        <td>
          <%= appointment.starts_at %>
        </td>
        <!-- Display appointment.starts_at end -->

        <!-- Display appointment.ends_at start -->
        <td>
          <%= appointment.ends_at %>
        </td>
        <!-- Display appointment.ends_at end -->

        <!-- Display appointment.created_at start -->
        <td>
          <%= time_ago_in_words(appointment.created_at) %> ago
        </td>
        <!-- Display appointment.created_at end -->

        <!-- Display appointment.updated_at start -->
        <td>
          <%= time_ago_in_words(appointment.updated_at) %> ago
        </td>
        <!-- Display appointment.updated_at end -->

        <td>
          <a href="/appointments/<%= appointment.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
